<!-- <button class="btn btn-primary">hello</button> -->
<div class="container">
<div class="row titleBar">
  <div class="col-sm-12 titleBar1">Search For Movies</div>
</div>
<div class="row tootlbar">
  <div class="col-sm-6 search">
    <input type="text" class="form-control" placeholder="search here" #searchText>
  </div>
  <div class="col-sm-6 search">
    <button (click)="searchMovie(searchText.value)" class="btn btn-light" >Search</button>
  </div>
  <div class="col-sm-6 search">
    <select class="custom-select" (click)="filterData($event)" placeholder="Filter By">
      <option value="0" selected="true">Filter By</option>
      <option value="1">Movies</option>
      <option value="2">Series</option>
      <option value="3">Game</option>
  </select>
  </div>
  <div class="col-sm-6 search">
    <select class="custom-select" (click)="sortData($event)"  placeholder="Sort By">
      <option value="0" selected="true">Sort By</option>
      <option value="1">Asceding Order</option>
      <option value="2">Descending Order</option>>
  </select>
  </div>
</div>

<div *ngIf = "!isFilterData">
  <div class="row movieData" *ngFor = "let movie of movies | paginate:{itemsPerPage: count, currentPage:p}">
    <div class="col-sm-2"><img src="{{movie.Poster}}" class="rounded poster"></div>
     <div class="col-sm-8" >
      Movie Name: {{movie.Title}}
      <br>
      Year : {{movie.Year}} ({{movie.Type}})
     </div>
    </div>
</div>

<div *ngIf = "isFilterData">
  <div class="row movieData" *ngFor = "let movie of filteredData | paginate:{itemsPerPage: count , currentPage:p}">
    <div class="col-sm-2"><img src="{{movie.Poster}}" class="rounded poster"></div>
     <div class="col-sm-8" >
      Movie Name: {{movie.Title}}
      <br>
      Year : {{movie.Year}} ({{movie.Type}})
     </div>
    </div>
</div>
<div class="row " style="margin: 5px;" *ngIf = "datalength > 0">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>