.titleBar {
    background-color: rgb(235, 128, 78);
    margin: 2px;
    padding: 1px;
}

.titleBar1 { 
    text-align: center;
}

.tootlbar {
    background-color:rgb(235, 128, 78);
    margin: 2px;
    padding: 1px;
}

.search {
    padding-top: 5px;
    padding-bottom: 5px;
}
.movieData{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1px;
    background-color: rgb(206, 203, 201);
}
.poster {
    height: 110px;
    width: 110px;
}